/****** BASE STYLES ******/

html {
    font-size: 16px;
    background: #E7E9E8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #332B1E;
} 

ul {
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
}

h1 {
    font-size: 2em;
    text-align: right;
}

h2 {
    font-size: 2.5em;
    font-style: italic;
    text-align: center;
    margin: 60px 0 30px;
}

h3 {
    font-size: 2em;
    color: #AA1E23;
}

h4 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 0px;
}

a:hover{
    text-decoration: underline;
}

/****** ICON SIZING ******/

h2 + img {
    width: 75px;
    margin-right: 10px;
}

#about-image img {
    width: 100px;
}

p {
    line-height: 1.6;
}



/****** NAV STYLES ******/


nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 65px;
    margin: 0;
    background:#332B1E;
}

nav ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    text-align: right;
}

nav ul li:nth-of-type(2) {
    padding: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #E7E9E8
}

/****** HEADER STYLES ******/

header {
    display: flex;
    flex-direction: column;
    background: url('../img/header-fish-hero-image@2x.jpg') no-repeat right top;
    background-size: cover;
    height: 812px;
}

header div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
}

#header-text-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 725px;
}

#header-text-box h1 {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0 120px;
    padding: 20px 20px 20px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7));
    color: #E7E9E8;
}

#heidi {
    color: #aa1e23;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#tagline {
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.75rem;
    margin: 0 0 30px;
}

/****** PORTFOLIO STYLES ******/

#portfolio {
    padding: 0;
    display: flex;
    flex-direction: column;
    background: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px 0;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.portfolio-image img {
    width: 100%;
    height: auto;
}

.portfolio-description {
    padding: 0 15px;
}

.portfolio-description p {
    border-top: 1px solid #E7E9E8;
    padding-top: 10px;
    padding-bottom: 20px;
}

.external-sites {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    font-size: 1.5em;
    background: #332B1E;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

.external-sites:hover {
    color: white;
    background-color: #AA1E23;
    text-decoration: none;
    transition: background-color .5s;
}

/****** ABOUT STYLES ******/

#about {
    background: #7F7460;
    height: 812px;
}

#about-item {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 0;
}

#about-portfolio-image {
    display: flex;
    justify-content: center;
}

#about-portfolio-image img {
    width: 200px;
    height: 200px;
}

#about-description {
    display: flex;
    flex-direction: column;
}

#about-description h3 {
    color: #E7E9E8;
    margin: 30px 0 0 0;
    
}

#about-description h3, #about-description h4, #about-description p {
    text-align: center;
}

#about-description p:first-of-type {
    border-top: 1px solid #DFC280;
    padding-top: 10px;
    display: flex;
}

#about-description p {
    color: #E7E9E8;
}

/****** FOOTER/CONTACT STYLES ******/

#contact {
    display: flex;
    flex-direction: column;
    background: #332B1E;
}

#contact h2, #contact p, #contact p a {
    color: #E7E9E8;
    text-align: center;
    text-decoration: none;
}

#contact p {
    font-size: 1.65em;
}

#contact p a:hover {
    color: #AA1E23;
}

#contact-description {
    display: flex;
    flex-direction: column;
}

#social-icons {
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}

#social-icons img {
    width: 50px;
    padding: 0 10px;
}

#copyright, #icon-attribution, #icon-attribution a {
    font-size: .6rem;
    text-align: center;
    color: #E7E9E8;
    margin-top: 60px;
}

#icon-attribution, #icon-attribution a {
    margin-bottom: 10px;
}


/****** MEDIA QUERIES ******/

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
        margin: 30px 0;
        text-align: center;
    }

    #heidi {
        margin: 0;
    }

    header {
        background: url('../img/header-fish-hero-image@2x.jpg') no-repeat left top;
        background-size: cover;
        height: 768px;
    }

    #header-text-box {
        justify-content: flex-end;
    }

    #header-text-box h1 {
        align-items: flex-start;
        margin: 0 450px 100px 0;
        padding: 20px 0 20px 40px;
        color: #E7E9E8;
        font-size: 2em;
        text-align: left;
    }

    #heidi {
        margin-bottom: 0;
        font-size: 1.75em;
    }

    #portfolio {
        padding: 0 60px;
    }

    .portfolio-item {
        flex-direction: row;
        margin-bottom: 100px;
    }

    .portfolio-image {
        margin-right: 43px;
        width: 525px;
    }

    .portfolio-image img {
        width: 325px;
    }

    .portfolio-description h3 {
        margin-top: 0;
    }

    #about {
        height: 600px;
    }

    #about-item {
        flex-direction: row;
    }

    #portfolio, #about-item {
        padding: 0 60px;
    }

    #about-portfolio-image {
        justify-content: flex-end;
        flex-basis: 525px;
    }

    #about-portfolio-image img {
        width: 302px;
        height: 302px;
    }

    #about-description {
        justify-content: flex-end;
        /* flex-basis: 350px; */
        margin-left: 43px;
    }

    #about-description h3, #about-description h4, #about-description p {
        text-align: left;
    }

}


@media (min-width: 1200px) {

    #header-text-box h1 {
        margin: 0 950px 50px 0;
        padding: 50px 0 50px 40px;
        color: #E7E9E8;
        font-size: 2em;
        text-align: left;
    }

    #portfolio, #about-item {
        padding: 0 300px;
    }

    .portfolio-image img {
        width: 525px;
    }

}

@media (min-width: 1400px) {
    #header-text-box p {
        color: #E7E9E8;
        margin: 0 0 50px 0;
        padding: 0 0 50px 40px;
        font-size: 2em;
        text-align: left;
}